:root {
  font-size: 14px;
  --size-title-s: 1.25rem;
  --size-title-m: 2.125rem;
  --size-title-l: 5rem;
  --color-title: #e2e2e2;
  --style-title-shadow-l: 6px 6px 0px rgb(4, 6, 32, 1);
  --style-title-shadow-s: 4px 4px 8px rgb(4, 6, 32, 0.3);

  --size-text-s: 1rem;
  --size-text-m: 1.25rem;
  --color-text-main: #e2e2e2;
  --color-text-secondary: #e2e2e2;

  --color-button-text-primary: #040620;
  --color-button-text-secondary: #e2e2e2;
  --color-button-primary: #dcd225;
  --color-button-secondary: rgba(255, 255, 255, 0.25);
  --size-button-text: 1.25rem;
  --style-button-radius: 5rem;
  --style-button-shadow1: 3 3px 10px #040620;
  --style-button-shadow2: 3 3px 10px #280c76;
  --style-button-padding: 1rem 2rem;

  --color-background-1: #2e00b0;
  --color-background-2: #040620;
  --color-background-3: #280c76;
}

@font-face {
  font-family: "MadeOuterSansThin";
  src: url("font/Thin.otf");
  font-weight: Thin;
}

@font-face {
  font-family: "MadeOuterSansBold";
  src: url("font/Bold.otf");
  font-weight: Bold;
}

body {
  font-family: "MadeOuterSansThin", sans-serif;
}

p,
h1,
h2,
h3 {
  /* overflow-wrap: break-word; */
  color: var(--color-text-main);
}

h1 {
  font-size: var(--size-title-l);
  font-family: "MadeOuterSansBold";
  text-shadow: var(--style-title-shadow-l);
}

h2 {
  font-size: var(--size-title-m);
  font-family: "MadeOuterSansBold";
  text-shadow: var(--style-title-shadow-s);
}

h3 {
  font-size: var(--size-title-s);
  font-family: "MadeOuterSansBold";
  text-shadow: var(--style-title-shadow-s);
}

p {
  font-size: var(--size-text-s);
  color: var(--color-text-main);
}

li {
  font-size: var(--size-title-s);
  color: var(--color-text-main);
  font-family: "MadeOuterSansBold";
  text-shadow: var(--style-title-shadow-s);
}

ul {
  list-style: none;
}

button {
  /* max-height: 53px; */
  border-radius: var(--style-button-radius);
  padding: var(--style-button-padding);
  box-shadow: var(--style-button-shadow1);
  background-color: var(--color-button-primary);
  color: var(--color-button-text-primary);
}

/*
html, body {
    height: 100%;
} */

/* body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--color-background);
} */

/* img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
} */

/* input, button, textarea, select {
    font: inherit;
} */

/*
#root, #__next {
    isolation: isolate;
}

a {
    color: #fff;
    text-decoration: none;
}
*/
