:root {
  font-size: 14px;
  --size-title-s: 1.25rem;
  --size-title-m: 2.125rem;
  --size-title-l: 4rem;
  --color-title: #F3F3F1;
  --style-title-shadow: 4px 4px 4px rgb(4, 6, 32, 0.3);
  --style-subtitle-shadow: 1px 1px 0px rgba(9, 10, 1, 0.6);

  --size-text-s: 1rem;
  --size-text-m: 1.5rem;
  --color-text-main: #45474B;
  --color-text-secondary: #F3F3F1;

  --color-button-text-primary: #040620;
  --color-button-text-secondary: #F3F3F1;
  --color-button-primary: #F4CE14;
  --color-button-secondary: #C2C0BF;/* rgba(50, 41, 41, 0.25);*/
  --size-button-text: 1.5rem;
  --style-button-radius: 5rem;
  --style-button-shadow1: 4px 4px 0px #040620;;
  --style-button-shadow2: 4px 4px 0px #379777;;
  --style-button-padding: 1rem 2rem;

  --color-background-1: #F3F3F1;
  --color-background-2: #131F1B;
  --color-background-3: #379777;
}

@font-face {
  font-family: "MadeOuterSansThin";
  src: url("font/Thin.otf");
  font-weight: Thin;
}

@font-face {
  font-family: "MadeOuterSansBold";
  src: url("font/Bold.otf");
  font-weight: Bold;
}

body {
  font-family: "MadeOuterSansThin", sans-serif;
  overflow-x: hidden;
}

p,
h1,
h2,
h3 {
  /* overflow-wrap: break-word; */
  color: var(--color-text-main);
}

h1 {
  font-size: var(--size-title-l);
  font-family: "MadeOuterSansBold";
  text-shadow: var(--style-title-shadow);
}

h2 {
  font-size: var(--size-title-m);
  font-family: "MadeOuterSansBold";
  text-shadow: var(--style-subtitle-shadow);
  color: var(--color-button-primary);
}

h3 {
  font-size: var(--size-title-s);
  font-family: "MadeOuterSansBold";

}

p {
  font-size: var(--size-text-s);
  color: var(--color-text-main);
  margin-bottom: 0;
}

@media screen and (max-width: 650px) {
  .project1_p{
    font-size: 1rem;
  }
  h1 {
    font-size: 2.80rem;
  }
  h2 {
    font-size: 1.50rem;
  }
  h3 {
    font-size: 1.25rem;
  }
}

li {
  color: var(--color-text-main);
  list-style: none;
}

ul {
  padding-left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  border-radius: var(--style-button-radius);
  padding: var(--style-button-padding);
  box-shadow: var(--style-button-shadow1);
  background-color: var(--color-button-primary);
  color: var(--color-button-text-primary);
}

@media screen and (max-width: 375px) {
  .h1 {
    font-size: var(--size-title-m)
  }
}

@media screen and (max-width: 320px) {
  .h1 {
    font-size: var(--size-title-s)
  }
}
