*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* HERO */

.menu {
  top: 20px;
}

.menu_contact {
  font-size: var(--size-title-s);
  font-family: "MadeOuterSansBold";
  text-shadow: var(--style-title-shadow);
}

.hero {
  height: 100vh;
  background-color: var(--color-background-1);
}

.hero_title > span {
  color: var(--color-button-primary);
}

/* BIO */

.spot1 {
  width: 100%;
  height: auto;
  max-width: 350px;
  bottom: 500px;
  right: 0;
  z-index: 100;
}

.biography {
  background-color: var(--color-background-2);
  height: 850px;
}

@media screen and (max-width: 992px) {
  .biography{
    height: 1000px;
  }
}

.biography_container {
  max-width: 980px;
}

.biography_person {
  align-items: center;
  justify-items: center;
  padding: 0;
  gap: 72px;
}

@media screen and (max-width: 992px) {
  .biography_person{
    gap: 32px;
  }
}

.biography_img {
  max-width: 300px;
  max-height: 300px;
  padding: 0;
  z-index: 500;
  border-radius: 16px;
}

.biography_text {
  padding: 0;
  margin: 0;
  max-width: 584px;
  z-index: 500;
}

p > .name {
  color: var(--color-button-primary);
}

.icons {
  padding: 16px 0 0 0;
}
.icon1 {
  padding: 8px;
  fill: #fff;
}

.timeline {
  padding: 88px 0 0 0;
}

.timelinemain {
  max-width: 830px;
}

.timelinephone {
  visibility: hidden;
}

@media screen and (max-width: 400px) {
  .timelinemain{
    visibility: hidden;
  }
  .timelinephone {
    visibility: visible;
  }
}

/* PROJECT 1 */

.project1 {
  background-color: var(--color-background-3);
  height: 1000px;
  max-height: 850px;
  overflow-x: hidden;
  position: relative;
}

.project1_container {
  position: absolute;
  top: 150px;
}

@media screen and (max-width: 992px) {
  .project1_container{
    top: 100px;
  }
}

.project1_heading {
  margin-bottom: 24px;
}

@media screen and (max-width: 992px) {
  .project1_heading {
    text-align: center;
  }
}

.project1_text{
  max-width: 597px;
  min-width: 421px;
}

.project1_img{
  position: relative;
  max-width: 500px;
}

@media screen and (max-width: 992px) {
  .project1_img {
    max-width: 700px;
  }
}

.project1_img > img{
  object-fit: contain;
}

@media screen and (min-width: 992px) {
  .project1_img > img {
    position: absolute;
    min-width: 1100px;
    left: -100px;
    top: 0px;
  }
}

.project1_p{
  font-size: var(--size-text-m);
}

@media screen and (max-width: 400px) {
  .project1_p{
    max-width: 390px;
  }
}

.button_set {
  margin-top: 24px ;
}

@media screen and (max-width: 992px) {
  .button_set {
    display: flex;
    justify-content: center;
  }
}

.button_secondary{
  margin-left: 24px;
  background-color: var(--color-button-secondary);
  color: var(--color-text-main);
}

@media screen and (max-width: 400px) {
  button{
    padding: 8px;
  }
}

/* SKILLS & HOBBIES */

.skills_hobbies{
  background-color: var(--color-background-1);
  height: 120vh;
  max-height: 640px;
  text-align: center;
  overflow-x: hidden;
}


.content_container {
  z-index: 500;
}

.emoji {
  font-size: 80px;
}

.spot2 {
  left: 100px;
  bottom: 500px;
  max-width: 600px;
  width: 100%;
  height: auto;
}


/* CONTACT */

.contact{
  background-color: var(--color-background-2);
  height: 120vh;
}

.footer {
  bottom: 0;
  margin-bottom: 36px;
}

.footer > a {
  margin: 8px;
}

.contact_content{
  z-index: 500;
}

.spot3 {
  width: 100%;
  max-width: 600px;
  height: auto;
  bottom:50px;
  right: 150px;
}

.cta_main {
  margin-top: 16px;
  box-shadow: var(--style-button-shadow2);
}